paper-card(heading="Bedieningspaneel Aquarium")
    .card-content
        .layout.horizontal.center-justified
            .layout.vertical
                paper-toggle-button Zuurstof
                paper-toggle-button Licht