extends ./layouts/main

block content
    neon-animated-pages(selected="0", entry-animation="slide-from-right-animation", exit-animation="slide-left-animation")#pages
        neon-animatable.layout.center-justified.horizontal
            .animatable_content
               include ./pages/arduino
        neon-animatable.layout.center-justified.horizontal
            .animatable_content
               include ./pages/kaku
                                        
                   