extends ./layouts/main

block content
    //- .layout.center-justified.horizontal
        paper-card(heading="Bedieningspaneel Aquarium")
            .card-content
                .layout.horizontal.center-justified
                    .layout.vertical
                        .toggle.zuurstof
                            paper-toggle-button Zuurstof
                        .toggle.licht
                            paper-toggle-button Licht
                        .toggle.filter
                            paper-toggle-button Filter