extends ./layouts/main

block content
	.container
		h1 Welkom bij uw configuratie scherm
		.row
			.col-md-4
				p Temperatuur: 20 graden
			.col-md-4
				p Lichten: aan
			.col-md-4
				p Filter: uit
