doctype html
html
	head
		title Aquaria Automatica
		script(src="bower_components/webcomponentsjs/webcomponents-lite.min.js")
		link(rel="import", href="bower_components/font-roboto/roboto.html")
		link(rel="import", href="storage/styles/styles.html")
		link(rel="import", href="bower_components/paper-card/paper-card.html")
		link(rel="import", href="bower_components/paper-tabs/paper-tabs.html")
		link(rel="import", href="bower_components/paper-toggle-button/paper-toggle-button.html")
		link(rel="import", href="bower_components/neon-animation/neon-animated-pages.html")
		link(rel="import", href="bower_components/neon-animation/neon-animatable.html")
		link(rel="import", href="bower_components/neon-animation/neon-animations.html")
		link(rel="import", href="bower_components/iron-flex-layout/iron-flex-layout.html")
		link(rel="import", href="bower_components/paper-slider/paper-slider.html")

		meta(name="viewport", content="initial-scale=1, maximum-scale=1")

		block styles
	body(unresolved).fullbleed
		#wrapper(unresolved)
			paper-tabs#menu(selected="0")
				paper-tab Arduino
				paper-tab KAKU
			#content
				block content


		script(src="bower_components/jquery/dist/jquery.js")
		script(src="bower_components/bootstrap/dist/js/bootstrap.js")
		script(src="storage/scripts/pageSelector.js")
		block scripts
