doctype html
html
	head
		title Aquaria Automatica
		link(rel="stylesheet", href="bower_components/bootstrap/dist/css/bootstrap.css")
		link(rel="stylesheet", href="bower_components/font-awesome/css/font-awesome.css")
		link(rel="stylesheet", href="storage/styles/layout.css")
		block styles
	body
		block content


		script(src="bower_components/jquery/dist/jquery.js")
		script(src="bower_components/bootstrap/dist/js/bootstrap.js")
		block scripts
