doctype html
html
	head
		title Aquaria Automatica
		script(src="../../bower_components/webcomponentsjs/webcomponents-lite.min.js")
		link(rel="import", href="../../bower_components/font-roboto/roboto.html")
		link(rel="import", href="../styles/styles.html")
		link(rel="import", href="../../bower_components/paper-card/paper-card.html")
		link(rel="import", href="../../bower_components/paper-toggle-button/paper-toggle-button.html")
		link(rel="import", href="../../bower_components/iron-flex-layout/classes/iron-flex-layout.html")
		link(rel="import", href="../../bower_components/paper-toolbar/paper-toolbar.html")
		meta(name="viewport", content="initial-scale=1, maximum-scale=1")

		block styles
	body(unresolved).fullbleed
		paper-toolbar#menu
			.title: h1 Aquarium Automatica
		#content
			block content
		block scripts
